.price{
    width: 100px;
    padding: 5px 0px ;
    font-size: 12px;
    text-align:  center;
    color: #3F4E65;

    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    border: none;
}

.pricewrapper{
    text-align: start;
}

span {
    margin: 0 10px;
}